.application-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.application-form-content {
  max-width: 40rem;
  width: 90%;
  margin: 0 auto;
  background-color: #949494;
  opacity: 0.9;
  border-radius: 3rem;
}

.application-form-input-div {
  display: grid;
  grid-template-columns: 8rem 1fr;
  gap: 0.75rem;
  margin-bottom: 1rem;
  align-items: center;
}

.application-form-input-div label {
  text-align: right;
  color: white;
}

.application-form-input-div input {
  width: 95%;
  padding: 0.6rem;
  border: 0.3px solid #ccc;
  border-radius: 2rem;
  box-sizing: border-box;
  color: #555555;
}

.application-form-title {
  font-size: 1.4rem;
  color: white;
  text-align: center;
  padding-bottom: 15px;
}

.submit-button {
  color: white;
  font-size: 0.8rem;
  background-color: forestgreen;
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
  opacity: 0.6;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 20rem;
}

.close-application-button {
  align-self: flex-start;
  color: white;
  padding-left: 2rem;
  padding-top: 1rem;
}

.application-return-message {
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 30rem) {
  .application-form-input-div {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .application-form-input-div label {
    text-align: left;
  }
}
