.jobs-index {
  width: 90%;
  height: 70vh;
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 1rem;
}

.search-filter {
  height: 100%;
  border: solid 0.3px;
  border-color: white;
  border-radius: 1rem;
  margin-top: 2rem;
}

.jobs-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.3px;
  border-color: white;
  border-radius: 1rem;
  margin-top: 2rem;
  overflow-y: auto;
}

.job-offer {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 160px;
  border-radius: 1rem;
  background-color: rgb(173, 173, 173);
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.3);
  opacity: 0.8;
}

.job-offer.extended {
  min-height: auto;
}

.logo-job-offer {
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 1rem;
  margin-left: 0.5rem;
  opacity: 0.8;
}

.job-infos {
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  text-align: left;
  color: white;
  overflow: hidden;
}

.job-infos h4 {
  font-size: 1.5rem;
}

.job-infos p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 35rem;
}

.job-infos.extended p {
  display: block;
  overflow: visible;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  max-width: 35rem;
  margin-bottom: 10px;
}

.job-description {
  font-size: 14px;
}

.job-details {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: auto;
  padding-bottom: 10px;
}

.no-remote {
  background-color: rgb(130, 0, 0);
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  opacity: 0.6;
  font-size: 13px;
  text-align: center;
}

.remote {
  background-color: rgb(13, 70, 0);
  width: 5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  opacity: 0.6;
  font-size: 13px;
  text-align: center;
}

.job-infos .remote {
  display: none;
}

.job-infos .no-remote {
  display: none;
}

.job-infos.extended .remote {
  display: block;
}

.job-infos.extended .no-remote {
  display: block;
}

.job-button {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.apply-learn-button {
  color: white;
  font-size: 13px;
  display: flex;
  gap: 1rem;
  margin-top: auto;
  padding-right: 0.5rem;
  padding-bottom: 0.7rem;
}

.favourite-button {
  padding-top: 5px;
  padding-left: 7rem;
  color: white;
}

#learn-more-button {
  background-color: indigo;
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
  opacity: 0.6;
}

#apply-button {
  background-color: forestgreen;
  width: 5rem;
  height: 2rem;
  border-radius: 0.5rem;
  opacity: 0.6;
}

.filter-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.2rem;
  border-radius: 1rem;
  border: solid 0.3px;
  border-color: white;
  background-color: #bebebe;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.filter-label {
  display: flex;
  align-items: center;
  color: white;
  gap: 0.5rem;
}

.filter-input {
  margin-left: 20px;
}

.filter-title {
  color: #525151;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.apply-error-message-div {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.apply-error-message {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  max-height: 30rem;
  height: 10%;
  width: 50%;
  background-color: #949494;
  border: solid 0.3px;
  border-color: white;
  opacity: 0.9;
  border-radius: 3rem;
}

.close-button-error-message {
  align-self: flex-start;
  padding-left: 2rem;
}

.no-job-message {
  color: rgb(81, 80, 80);
  padding-left: 2rem;
  padding-top: 1rem;
}
