.main {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
}

/* Table normale */
.data-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

/* Table applications : scroll horizontal si nécessaire */
.applications-table {
  display: block; /* pour permettre le scroll horizontal */
  overflow-x: auto;
  max-width: 100%; /* ne dépasse pas le conteneur */
  white-space: nowrap; /* empêche le contenu de revenir à la ligne */
}

.applications-table thead,
.applications-table tbody {
  display: table; /* conserve l’alignement colonnes */
  width: 100%;
  table-layout: auto;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  text-align: left;
}

.data-table thead {
  position: sticky;
  top: 0;
}

.data-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.data-table tr:nth-child(even) {
  background-color: #fafafa;
}

.data-table tr:hover {
  background-color: #f0f0f0;
}

.data-table button {
  margin-right: 0.5rem;
  padding: 0.3rem 0.6rem;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.85rem;
}

.btns {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.filters-btns {
  display: flex;
  align-items: center;
}

.filters-btns select {
  height: 25px;
}

.data-table button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 1024px) {
}
