.navbar {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bebebe;
  color: #fff;
  margin-top: 1rem;
  padding: 1.5rem;
  border: solid 0.3px;
  border-radius: 3rem;
  box-shadow: 1px 1px 30px rgba(128, 128, 128, 0.5);
}

.navbar-links {
  display: flex;
  gap: 3rem;
}

.navbar-links li {
  color: rgb(82, 81, 81);
}

.navbar-links li:hover {
  color: rgb(156, 156, 156);
}

.navbar-button-div {
  display: flex;
  gap: 1rem;
}

.logo-jobboard {
  height: 40px;
  width: 40px;
}

.login-button {
  background-color: rgb(199, 199, 199);
  color: rgb(82, 81, 81);
  text-align: center;
  width: 6rem;
  border: solid 0.3px;
  border-radius: 3rem;
  padding: 0.5rem;
}

.logout-button {
  background-color: rgb(82, 82, 82);
  text-align: center;
  width: 6rem;
  border: solid 0.3px;
  border-radius: 3rem;
  padding: 0.5rem;
}

.login-button:hover {
  background-color: rgb(82, 82, 82);
  color: rgb(199, 199, 199);
  text-align: center;
  width: 6rem;
  border: solid 0.3px;
  border-radius: 3rem;
  padding: 0.5rem;
  opacity: 0.5;
}

.logout-button:hover {
  background-color: rgb(199, 199, 199);
  color: rgb(82, 82, 82);
  text-align: center;
  width: 6rem;
  border: solid 0.3px;
  border-radius: 3rem;
  padding: 0.5rem;
  opacity: 0.5;
}

.profil {
  width: 50px;
}
